<% if current_user %>
  <div class="container">
    <%= link_to "New Publication", new_publication_path, class: "btn btn-dark m-2" %>
  </div>
<% end %>
<div class="publication__container">
  <div class="row align-items-center">
    <div class="col-md-8 col-sm-12">
      <h2>Publicações</h2>
      <% @publications.each do |publication| %>
        <h1><%= publication.title %></h1>
        <div class="publication__subtitle"><%= publication.subtitle %></div>
        <div class="publication__author">Por <%= publication.author %>
        </div>
        <%= link_to "Ver Publicação Completa", publication_path(publication), class: 'btn btn-dark' %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="publishing__box">
        <h4>Publicações Principais</h4>
        <div class="publishing__individual">
          <div class="publishing__name">Lorem ipsum dolor sit amet, consectetur </div>
          <div class="publishing__author">por Rafael Monteiro</div>
        </div>
        <div class="publishing__individual">
          <div class="publishing__name">Ut turpis orci, cursus convallis risus id, sodales pulvinar </div>
          <div class="publishing__author">por Rafael Monteiro</div>
        </div>
        <div class="publishing__individual">
          <div class="publishing__name">Lorem ipsum dolor sit amet, consectetur </div>
          <div class="publishing__author">por Rafael Monteiro</div>
        </div>
      </div>
    </div>
  </div>
</div>
