<div class="publication__container">
  <div class="row align-items-center">
    <div class="col-md-8 col-sm-12">
      <h2>Publicações</h2>
      <h1><%= @publication.title %></h1>
      <div class="publication__subtitle"><%= @publication.subtitle %></div>
      <div class="publication__author">Por <%= @publication.author %> - <%= @publication.date %></div>
      <div class="publication__text">
        <%= simple_format(@publication.text) %>
      </div>
      <a href="<%= @publication.pdf_url %>" class="btn btn-dark">Ver Publicação Completa</a>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="publishing__box">
        <h4>Publicações Principais</h4>
        <div class="publishing__individual">
          <div class="publishing__name">Lorem ipsum dolor sit amet, consectetur </div>
          <div class="publishing__author">por Rafael Monteiro</div>
        </div>
        <div class="publishing__individual">
          <div class="publishing__name">Ut turpis orci, cursus convallis risus id, sodales pulvinar </div>
          <div class="publishing__author">por Rafael Monteiro</div>
        </div>
        <div class="publishing__individual">
          <div class="publishing__name">Lorem ipsum dolor sit amet, consectetur </div>
          <div class="publishing__author">por Rafael Monteiro</div>
        </div>
      </div>
    </div>
  </div>
</div>
