<header>
  <div class="hero-banner">
    <div class="container">
      <div class="hero-text">
        <h1>Esse é o título do site</h1>
        <h2>Esse é o subtítulo do site. Esse é o subtítulo do site.</h2>
      </div>
    </div>
  </div>
</header>
<section class="section--cards">
  <div class="section__text">
    <h3>Eu ajudo líderes e liderados a criar um clima de compreensão, conexão e colaboração dentro da sua equipe e entre equipes por meio da comunicação dialógica
    </h3>
  </div>
  <div class="cards-container--home">
    <div class="swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <%= render '/pages/cards', locals:{ text: "Maior capacidade de entender pontos de vistas diferentes", image: "mensagem-check.png", alt: "icone messagem check" } %>
          <%= render '/pages/cards', locals:{ text: "Aumento da confiança, do respeito e da empatia", image: "confiar.png", alt: "icone confiar" } %>
          <%= render '/pages/cards', locals:{ text: "Aumento da capacidade de pensar, criar e fazer junto", image: "pensar.png", alt: "icone pensar" } %>
          <%= render '/pages/cards', locals:{ text: "Conflitos são resolvidos mais rapidamente", image: "trabalho-conjunto.png", alt: "icone trabalho conjunto" } %>
          <%= render '/pages/cards', locals:{ text: "Gerenciamento dos projetos é feito com maior eficiência", image: "gerenciamento-projetos.png", alt: "icone gerenciamento projetos" } %>
          <%= render '/pages/cards', locals:{ text: "Maior engajamento", image: "engajamento.png", alt: "icone engajamento" } %>
          <%= render '/pages/cards', locals:{ text: "Maior inovação", image: "inovacao.png", alt: "icone inovacao" } %>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
<section class="section--about">
  <div class="row justify-content-between">
    <div class="about__text col-md-6 col-sm-12">
      <h3>Sobre Mim</h3>
      <ul>
        <li class="checkmark">Especialista em diálogo e pesquisador vinculado à USP</li>
        <li class="checkmark">Doutorando e Mestre em Ciências pela USP</li>
        <li>Professor convidado da Mackenzie para treinamentos corporativos da área de comunicação e relacionamentos interpessoais</li>
        <li>Autor do livro “O Poder do Diálogo: como ter conversas difíceis sem ficar desconfortável ou começar uma briga”</li>
        <li>Fundador da 3C.DIÁLOGO</li>
      </ul>
      <div class="btn btn-dark btn-custom">Saiba mais</div>
    </div>
    <div class="about__image col-md-6 col-sm-12">
      <%= image_tag("rafa-2.png", :alt => "foto do Rafa") %>
    </div>
  </div>
</section>
<section class="section--book">
  <div class="book__container">
    <div class="row w-100">
      <div class="book__image col-6">
        <div class="book__title--container">
          <div class="book__title">
            <h3><span>O Poder<br>
                do Diálogo</span></h3>
          </div>
        </div>
        <%= image_tag("livro.png", :alt => "Livro O Poder do Diálogo") %>
      </div>
      <div class="book__text col-6 align-self-end">
        <div class="book__subtext">
          Como ter conversas difíceis sem ficar desconfortável ou começar um briga
        </div>
        <div class="btn btn-light btn-custom">Saiba mais</div>
      </div>
    </div>
  </div>
</section>
